
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col" colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
        <%products.forEach(prod => {%>
            <tr>
            <th scope="row"><%=prod.id%></th>
            <td><%=prod.title%></td>
            <td><%=prod.description%></td>
            <td scope="col"><%=prod.price%></td>
            <td>
              <img
                src="<%=prod.image%>"
                alt="Image"
              />
            </td>
            <td>
              <a href="/update-product/<%=prod.id%>" class="btn btn-warning">Update</a>
            </td>
            <td>
              <!--<a href="/delete-product/<%=prod.id%>" class="btn btn-danger">Delete</a>-->
              <button class="btn btn-danger" onclick="deleteProduct('<%=prod.id%>')">Delete</button>
            </td>
          </tr>
        <%})%>
       
        </tbody>
      </table>

